# Alchemy for the RPC url or use your own RPC url.
ARBITRUM_SEPOLIA_RPC=your_rpc_url_here
ARBITRUM_MAINNET_RPC=your_rpc_url_here
#Avoid using PRIVATE_KEY from .env use foundry keystore instead to avoid leaking your key via source control.
#Refer to https://www.getfoundry.sh/cast/wallet-operations for more information.
PRIVATE_KEY=your_private_key_here
ETHERSCAN_API_KEY=your_etherscan_api_key_here